<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.rong.mycrm.mapper.CourseOrderMapper">
    <select id="getCourseOrderList" parameterType="Map" resultType="CourseOrder">
        SELECT * FROM t_course_order limit #{start},#{size}
    </select>
</mapper>
